terraform {
  backend "azurerm" {
    resource_group_name  = "rg-terraform-state"
    storage_account_name = "${storage_account_name}"
    container_name       = "tfstate"
    key                  = "${environment}.terraform.tfstate"
    use_oidc             = true
  }
}
